.well {
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset !important;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8)
		0 1px 7px 0px inset !important;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset !important;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
		7px 0px inset !important;
	background: #202020 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 1px solid rgba(0, 0, 0, 0.05) !important;
	-webkit-border-radius: 4px !important;
	background: rgba(32, 32, 32, 0.9) !important;
}

.brand {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-left: 20px !important;
	float: right !important;
	font-weight: bold !important;
	color: #000 !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px
		rgba(255, 255, 255, .125) !important;
	-webkit-transition: all .2s linear !important;
	-moz-transition: all .2s linear !important;
	transition: all .2s linear !important;
}

.nav .dropdown-toggle .caret {
	border-top-color: #999999 !important;
	border-bottom-color: #999999 !important;
}

.userlink>i {
	padding-right: 7px !important;
	margin-top: 2px;
}

#login-form {
	text-align: left;
	margin: 0 0 0px;
}

.transparent {
	padding-top: 20px;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8)
		0 1px 7px 0px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
		7px 0px inset;
	background: rgba(32, 32, 32, 0.9) !important;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #333333;
	border-radius: 0px 0px 6px 6px !important;
}

.transparent-background {
	background-color: rgb(211, 211, 211) !important;
	background-color: rgba(211, 211, 211, 0.6) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000 ) !important;
	/* For IE 8*/
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
		!important;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;
}

.transparent-background-to-connection {
	background-color: rgb(119, 119, 119) !important;
	background-color: rgba(119, 119, 119, 0.95) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000 ) !important;
	/* For IE 8*/
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
		!important;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1) !important;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6) !important;
	outline: 0 !important;
	outline: thin dotted \9  !important;
	/* IE6-8 */
}

.nav-tabs>li>a,.nav-tabs>li>a:hover {
	color: #fff !important;
}

.menulinks:hover {
	color: #000000 !important;
	background-color: #e9e9e9 !important;
	background-image: -moz-linear-gradient(top, #eeeeee, #e1e1e1) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee),
		to(#e1e1e1) ) !important;
	background-image: -webkit-linear-gradient(top, #eeeeee, #e1e1e1)
		!important;
	background-image: -o-linear-gradient(top, #eeeeee, #e1e1e1) !important;
	background-image: linear-gradient(to bottom, #eeeeee, #e1e1e1)
		!important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',
		endColorstr='#ffe1e1e1', GradientType=0 ) !important;
}

.menulinks:active,.menulinks:visited,.menulinks:link,.dropdown-menu:hover>li>form>a:hover
	{
	text-decoration: none !important;
}

.nav-tabs {
	margin-bottom: 0px !important;
}

.logindiv {
	margin-left: 25%;
	margin-top: 10%;
	width: 50%;
	text-align: center;
}

.dropdown-menu>li>a:hover>[class^="icon-"] {
	background-image: url("../img/glyphicons-halflings.png") !important;
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a
	{
	text-decoration: none !important;
	color: #000000 !important;
	background-color: #e9e9e9 !important;
	background-image: -moz-linear-gradient(top, #eeeeee, #e1e1e1) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee),
		to(#e1e1e1) ) !important;
	background-image: -webkit-linear-gradient(top, #eeeeee, #e1e1e1)
		!important;
	background-image: -o-linear-gradient(top, #eeeeee, #e1e1e1) !important;
	background-image: linear-gradient(to bottom, #eeeeee, #e1e1e1)
		!important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',
		endColorstr='#ffe1e1e1', GradientType=0 ) !important;
}

.brand>[class^="icon-"]:hover,.brand>[class^="icon-"]:focus {
	background-image: url("../img/glyphicons-halflings-white.png")
		!important;
}

.dropdown-toggle>[class^="icon-"]:hover,.brand>[class^="icon-"]:focus {
	background-image: url("../img/glyphicons-halflings-white.png")
		!important;
}

/* DENIED PAGE */
@font-face {
	font-family: cool_font;
	src: url("../font/cs_regular.ttf");
}

#access-denied h1 {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6), 0px 0px 30px
		rgba(255, 255, 255, 0.4), 0px 0px 50px rgba(255, 255, 255, 0.3), 0px
		0px 180px rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0) !important;
	font: 80px cool_font;
}

#access-denied h1>a {
	padding-left: 30px;
	color: rgba(255, 255, 255, 0) !important;
}

#access-denied h1>a:focus,#access-denied h1>a:hover {
	text-decoration: none !important;
}

/* CONNECTION FORM */
.modal-footer {
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8)
		0 1px 7px 0px inset !important;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset !important;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
		7px 0px inset !important;
}

.modal-body {
	padding: 15px 15px 10px 15px !important;
}

.modal-footer {
	background-color: #373737 !important;
}

#modal-checkbox-id {
	margin-bottom: 0px !important;
}

.connection {
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8)
		0 1px 7px 0px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0
		1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px
		7px 0px inset;
	background: rgba(32, 32, 32, 0.9) !important;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #333333;
	border-radius: 6px 6px 6px 6px !important;
}

/* TABLE */
#connection-table>tbody>tr:hover td {
	background-color: rgba(75, 73, 73, 0.81) !important;
}