/* line 31, ../sass/darkstrap.scss */
.well, .breadcrumb, input,
input[type="file"],
select,
textarea, .progress, code, pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset !important;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset !important;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset !important;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset !important;
  background: #202020 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

/* line 33, ../sass/darkstrap.scss */
body {
  background: #2f2f2f !important;
  color: #c6c6c6 !important;
}

/* line 39, ../sass/darkstrap.scss */
.breadcrumb {
  border: 0 !important;
}
/* line 42, ../sass/darkstrap.scss */
.breadcrumb li {
  text-shadow: 0 1px 0 #000 !important;
}

/* line 48, ../sass/darkstrap.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  border-bottom: 1px solid #121212 !important;
}

/* line 49, ../sass/darkstrap.scss */
h1, h2, h3, h4, h5, h6 {
  color: white !important;
}

/* line 50, ../sass/darkstrap.scss */
h6 {
  color: #999 !important;
}

/* line 57, ../sass/darkstrap.scss */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  background-color: #222222 !important;
  border-color: #2f2f2f #2f2f2f transparent #2f2f2f !important;
}

/* line 61, ../sass/darkstrap.scss */
.nav > .dropdown.active > a:hover {
  color: #fff !important;
}

/* line 65, ../sass/darkstrap.scss */
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #fff !important;
}

/* line 68, ../sass/darkstrap.scss */
.nav-tabs {
  border-bottom: 1px solid #666 !important;
}
/* line 71, ../sass/darkstrap.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #2f2f2f !important;
  color: #fff !important;
  border-color: #666 #666 transparent #666 !important;
}
/* line 76, ../sass/darkstrap.scss */
.nav-tabs > li > a:hover {
  border-color: #2f2f2f #2f2f2f #666666 #2f2f2f !important;
  background-color: #222222 !important;
  color: #00aaff !important;
}
/* line 83, ../sass/darkstrap.scss */
.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
  border-color: #666 !important;
}

/* line 89, ../sass/darkstrap.scss */
.nav-pills > li > a:hover {
  background-color: #222222 !important;
  color: #00aaff !important;
}

/* line 95, ../sass/darkstrap.scss */
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: 0 1px 0 #000 !important;
}

/* line 98, ../sass/darkstrap.scss */
.nav-list > li > a:hover {
  background-color: #161616 !important;
  color: #00aaff !important;
}

/* line 103, ../sass/darkstrap.scss */
.nav-list .active > a:hover {
  background-color: #0088cc !important;
  color: white !important;
}

/* line 109, ../sass/darkstrap.scss */
.tabs-below .nav-tabs {
  border-top: 1px solid #666 !important;
}

/* line 110, ../sass/darkstrap.scss */
.tabs-left .nav-tabs {
  border-right: 1px solid #666 !important;
}

/* line 111, ../sass/darkstrap.scss */
.tabs-right .nav-tabs {
  border-left: 1px solid #666 !important;
}

/* line 113, ../sass/darkstrap.scss */
.tabs-below .nav-tabs > li > a:hover {
  border-top: 1px solid #666 !important;
}

/* line 116, ../sass/darkstrap.scss */
.tabs-left .nav-tabs > li > a:hover {
  border-color: transparent #666 transparent transparent !important;
}

/* line 119, ../sass/darkstrap.scss */
.tabs-right .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent #666 !important;
}

/* line 124, ../sass/darkstrap.scss */
.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #666 #666 #666 !important;
}

/* line 128, ../sass/darkstrap.scss */
.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #666 transparent #666 #666 !important;
}

/* line 132, ../sass/darkstrap.scss */
.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #666 #666 #666 transparent !important;
}

/* line 2, ../sass/mixins.scss */
:-moz-placeholder {
  color: #666666 !important;
}

/* line 5, ../sass/mixins.scss */
::-webkit-input-placeholder {
  color: #666666 !important;
}

/* line 140, ../sass/darkstrap.scss */
.input-prepend .add-on,
.input-append .add-on {
  background: #444 !important;
  color: #c6c6c6 !important;
  border-color: #111 !important;
  text-shadow: 0 1px 0  black !important;
}

/* line 147, ../sass/darkstrap.scss */
label {
  color: #c6c6c6 !important;
}

/* line 154, ../sass/darkstrap.scss */
input,
input[type="file"],
select,
textarea {
  color: white !important;
  border-color: #111111 !important;
}

/* line 160, ../sass/darkstrap.scss */
.search-query {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0) 0 1px 7px 0px inset !important;
}

/* line 163, ../sass/darkstrap.scss */
legend {
  color: white !important;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  border-bottom: 1px solid #121212 !important;
}

/* line 167, ../sass/darkstrap.scss */
.form-actions {
  border-top-color: #222 !important;
  background-color: #444 !important;
}

/* line 172, ../sass/darkstrap.scss */
.help-inline {
  color: #999 !important;
}

/* line 12, ../sass/mixins.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #faa732 !important;
}
/* line 13, ../sass/mixins.scss */
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #faa732 !important;
  border-color: #faa732 !important;
}
/* line 20, ../sass/mixins.scss */
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #faa732 !important;
  -moz-box-shadow: 0 0 6px #faa732 !important;
  -webkit-box-shadow: 0 0 6px #faa732 !important;
  -o-box-shadow: 0 0 6px #faa732 !important;
  box-shadow: 0 0 6px #faa732 !important;
}
/* line 12, ../sass/mixins.scss */
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #5bb75b !important;
}
/* line 13, ../sass/mixins.scss */
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #5bb75b !important;
  border-color: #5bb75b !important;
}
/* line 20, ../sass/mixins.scss */
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #5bb75b !important;
  -moz-box-shadow: 0 0 6px #5bb75b !important;
  -webkit-box-shadow: 0 0 6px #5bb75b !important;
  -o-box-shadow: 0 0 6px #5bb75b !important;
  box-shadow: 0 0 6px #5bb75b !important;
}
/* line 12, ../sass/mixins.scss */
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #fc5b5e !important;
}
/* line 13, ../sass/mixins.scss */
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #fc5b5e !important;
  border-color: #fc5b5e !important;
}
/* line 20, ../sass/mixins.scss */
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #fc5b5e !important;
  -moz-box-shadow: 0 0 6px #fc5b5e !important;
  -webkit-box-shadow: 0 0 6px #fc5b5e !important;
  -o-box-shadow: 0 0 6px #fc5b5e !important;
  box-shadow: 0 0 6px #fc5b5e !important;
}

/* line 182, ../sass/darkstrap.scss */
.table thead {
  color: white !important;
}
/* line 185, ../sass/darkstrap.scss */
.table td {
  border-top-color: #666 !important;
}

/* line 191, ../sass/darkstrap.scss */
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #444 !important;
}

/* line 197, ../sass/darkstrap.scss */
.table-bordered {
  border: 1px solid #666 !important;
}
/* line 202, ../sass/darkstrap.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #666 !important;
}

/* line 208, ../sass/darkstrap.scss */
.pagination a:hover {
  color: #00aaff !important;
  background-color: #222222 !important;
}

/* line 212, ../sass/darkstrap.scss */
.pagination .active a {
  color: #fff !important;
  background-color: #222222 !important;
}

/* line 216, ../sass/darkstrap.scss */
.pagination a {
  border-color: #666 !important;
}

/* line 219, ../sass/darkstrap.scss */
.pager a {
  background-color: #2f2f2f !important;
  border-color: #666 !important;
}
/* line 222, ../sass/darkstrap.scss */
.pager a:hover {
  background-color: #222222 !important;
  color: #00aaff !important;
}

/* line 238, ../sass/darkstrap.scss */
.alert {
  color: #fff !important;
  background-color: #faa732 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  border-color: #a86404 !important;
}
/* line 234, ../sass/darkstrap.scss */
.alert h4 {
  color: #c17305 !important;
}

/* line 239, ../sass/darkstrap.scss */
.alert-success {
  color: #fff !important;
  background-color: #5bb75b !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  border-color: #2d662d !important;
}
/* line 234, ../sass/darkstrap.scss */
.alert-success h4 {
  color: #347834 !important;
}

/* line 240, ../sass/darkstrap.scss */
.alert-error {
  color: #fff !important;
  background-color: #fc5b5e !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  border-color: #d40408 !important;
}
/* line 234, ../sass/darkstrap.scss */
.alert-error h4 {
  color: #ed0409 !important;
}

/* line 241, ../sass/darkstrap.scss */
.alert-info {
  color: #fff !important;
  background-color: #3a87ad !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) !important;
  border-color: #1a3c4e !important;
}
/* line 234, ../sass/darkstrap.scss */
.alert-info h4 {
  color: #204b61 !important;
}

/* line 245, ../sass/darkstrap.scss */
.modal {
  background-color: #444 !important;
}

/* line 248, ../sass/darkstrap.scss */
.modal-header {
  border-bottom: 1px solid #222 !important;
}

/* line 251, ../sass/darkstrap.scss */
.modal-body p {
  color: #c6c6c6 !important;
}

/* line 254, ../sass/darkstrap.scss */
.modal-footer {
  background-color: #373737 !important;
  border-top: 1px solid #222 !important;
  -moz-box-shadow: 0 1px 0 #333333 inset !important;
  -webkit-box-shadow: 0 1px 0 #333333 inset !important;
  -o-box-shadow: 0 1px 0 #333333 inset !important;
  box-shadow: 0 1px 0 #333333 inset !important;
}

/* line 266, ../sass/darkstrap.scss */
blockquote {
  border-left-color: #111 !important;
}
/* line 268, ../sass/darkstrap.scss */
blockquote.pull-right {
  border-right-color: #111 !important;
}

/* line 271, ../sass/darkstrap.scss */
hr {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 !important;
  border-bottom: 1px solid #121212 !important;
  border-top: none !important;
}

/* line 277, ../sass/darkstrap.scss */
code {
  border: none !important;
}

/* line 281, ../sass/darkstrap.scss */
pre {
  border: none !important;
  color: #c6c6c6 !important;
}