<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<security:http auto-config="false" use-expressions="true"
		entry-point-ref="authenticationEntryPoint">
		<security:intercept-url pattern="/admin*"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/*"
			access="hasRole('ROLE_ADMIN')" />
		<security:access-denied-handler
			error-page="/denied" />
		<security:intercept-url pattern="/login"
			access="permitAll" />
		<security:intercept-url pattern="/denied"
			access="permitAll" />
		<security:intercept-url pattern="/*"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/resources/**"
			access="permitAll" />
		<security:custom-filter position="CONCURRENT_SESSION_FILTER"
			ref="concurrencyFilter" />
		<security:custom-filter position="FORM_LOGIN_FILTER"
			ref="authenticationFilter" />
		<security:custom-filter position="LOGOUT_FILTER"
			ref="logoutFilter" />
		<security:custom-filter position="REMEMBER_ME_FILTER" 
			ref="rememberMeFilter" />
	</security:http>

	<bean id="authenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter"
		p:sessionAuthenticationStrategy-ref="sas" p:authenticationManager-ref="authenticationManager"
		p:authenticationFailureHandler-ref="customAuthenticationFailureHandler"
		p:authenticationSuccessHandler-ref="customAuthenticationSuccessHandler"
		p:rememberMeServices-ref="rememberMeService">
	</bean>

	<bean id="rememberMeFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="rememberMeService" />
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			user-service-ref="myUserDetailsService">
			<security:password-encoder ref="passwordEncoder" />
		</security:authentication-provider>
		<security:authentication-provider
			ref="rememberMeAuthenticationProvider">
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
